# Database
DATABASE_URL=postgresql+asyncpg://user:password@postgres:5432/skillapp

# Redis
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2

# Auth
SECRET_KEY=0fc3f8231e43ae9678fe23c48c08768a0b626c853db4c415be27e5cb28d37843

# AI
GROQ_API_KEY=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

# App
ENVIRONMENT=development
FRONTEND_URL=http://localhost:8000

# GitHub OAuth (optional - leave blank if not using)
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Optional
OPENAI_API_KEY=
SENTRY_DSN=